<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');
        *{
            font-family: "Poppins", sans-serif;
            padding: 0;
            margin: 0;
            text-align: center;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }
        header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            /* height: 120px; */
            /* padding: 20px 100px; */
            background: #28667E;
            display: flex;
            justify-content: space-between;
        }
        /* img{
            width: 300px;
            height: 144px;
        } */
        body{
            background-color: white;
        }
        /* .navigation img{
            display: flex;
            width: 80px;
            height: 80px;
            border-radius: 100%;
        } */
        #diagnosa{
            color: white;
            border-radius: 10%;
            text-decoration: none;
            padding: 5px;
            font-size: x-large;
        }
        a img{
            width: 58px;
            height: 51px;
        }
        .btnDiagnosa{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 253px;
            height: 83px;
            position: absolute;
            right: 50px;
            bottom: 50px;
        }
    </style>
</head>
<body class="w-full">
    
    <div class="h-16 lg:h-40"></div>
    <main class="lg:px-8 px-2 flex flex-col items-start gap-4 lg:gap-8 justify-center">
    <!-- <h1 class="font-bold text-6xl">Artikel Jeruk</h1> -->
        <h2 class="font-bold text-xl lg:text-6xl">Tambah Artikel Baru</h2>
        <!-- <h1>Create New Article</h1> -->

        <form class="flex flex-col  bg-[#28667E] items-start rounded-xl lg:rounded-3xl p-8 w-11/12 lg:w-4/5" action="/artikel" method="post" enctype="multipart/form-data">
            <label class="lg:text-4xl text-base text-white" for="namaArtikel">Nama Artikel:</label>
            <input class="w-full h-5 lg:h-10 text-sm lg:text-2xl text-left p-1 lg:p-3" type="text" id="namaArtikel" name="namaArtikel" ><br>

            <label class="lg:text-4xl text-base text-white" for="penyebab">Penyebab:</label>
            <input class="w-full h-5 lg:h-10 text-sm lg:text-2xl text-left p-1 lg:p-3" type="text" id="penyebab" name="penyebab" ><br>

            <label class="lg:text-4xl text-base text-white" for="ciri">Ciri:</label>
            <textarea class="w-full h-32 text-sm lg:text-2xl text-left p-1 lg:p-3" id="ciri" name="ciri"></textarea><br>

            <label class="lg:text-4xl text-base text-white" for="langkahPenanganan">Langkah Penanganan:</label>
            <textarea class="w-full h-32 text-sm lg:text-2xl text-left p-1 lg:p-3" id="langkahPenanganan" name="langkahPenanganan"></textarea><br>

            <label class="lg:text-4xl text-base text-white" for="gambar">Gambar:</label>
            <input class="w-full h-7 lg:h-10 text-sm lg:text-2xl" type="file" id="gambar" name="gambar"><br><br>

            <input class="w-full h-12 bg-green-500 text-2xl rounded-xl text-white hover:bg-lime-500" type="submit" value="Create Article"> <br>
            <a class="flex justify-center items-center w-full h-12 rounded-xl bg-blue-600 text-2xl text-white hover:bg-sky-500" href="/">back</a>
        </form>

    </main> 
    <header class="px-0 lg:px-28 py-1 lg:h-32 lg:py-10">
        <a href="/">
            <img class="w-28 h-14 lg:w-72 lg:h-32" src="/uploads/img/Logo.png" alt="logo">
        </a>
        <nav class="flex gap-4 lg:gap-20 navigation pr-4">
            <form action="/search" class="flex" method="post">
                <input class="w-32 h-7 rounded-2xl text-sm lg:w-96 lg:h-14 lg:text-xl  lg:rounded-2xl" type="text" name="keyword" placeholder="Masukkan kata kunci pencarian">
                <button class="text-[#28667E] bg-white w-20 h-10 font-bold rounded-2xl" type="submit" hidden>Cari</button>
            </form>
            <a href="/akun">
                <img class="flex w-10 h-10 lg:w-20 lg:h-20 rounded-full" src="/uploads/img/<%= gambar %>" alt="">
            </a>
        </nav>
    </header>
</body>
</html>
