<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');
        *{
            font-family: "Poppins", sans-serif;
            padding: 0;
            margin: 0;
            text-align: center;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }
        header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 120px;
            padding: 20px 100px;
            background: #28667E;
            display: flex;
            justify-content: space-between;
        }
        img{
            width: 300px;
            height: 144px;
        }
        body{
            background-color: #ECF4D6;
        }
        form img{
            width: 120px;
            height: 120px;
        }
        .container button{
            font-size: x-large;
            padding: 10px 25px;
            border-radius: 20px;
            border: none;
            background-color: #2D9596;
            color: white;
            margin: 20px 0;
        }
        form label{
            font-size: 24px;
            font-weight: 400;
        }
        form a{
            display: flex;
            font-size: 48px;
            background-color: #2D9596;
            border-radius: 100%;
            width: 65px;
            height: 65px;
            color: white;
            border-radius: 100%;
            margin-left: 90%;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .navigation img{
            display: flex;
            width: 80px;
            height: 80px;
            border-radius: 100%;
        }
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* margin-top: 150px; */
            flex: 1;
        }
        form{
            display: flex;
            flex-direction: column;
        }
        #uploadForm {
            border: 2px dashed #ccc;
            border-radius: 10px;
            border-width: 5px;
            padding: 20px;
            text-align: center;
            /* margin: 20px auto; */
            width: 40%;
            height: 60%;
        }
        #uploadForm.dragover {
            background-color: #23dc5d;
        }
        #output {
            display: none;
            flex: 1;
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            font-size: x-large;
            text-align: left ;
            align-items: start;
        }
        .sidebar{
            display: flex;
            justify-content: left;
            flex-direction: column  ;
            margin-left: 32px;
            width: 259px;
            /* height: 100%; */
            background-color: #28667E;
            border-radius: 30px;
            padding: 24px 16px;
            text-align: center;
            /* font-size: 20px; */
            /* text-decoration: none; */
            font-weight: 200;
            box-sizing: border-box;
        }
        .sidebar button{
            margin-top: 65vh;
            width: 227px;
            height: 58px;
            border: none;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 300;
            color: white;
            background-color: #2D9596;
        }
        .sidebar a{
            display: flex;
            align-items: center;
            width: 227px;
            height: 58px;
            border-radius: 10px;
            background-color: #2D9596;
            color: white;
            font-size: 20px;
            font-weight: 300;
            text-decoration: none;
        }
        .flex{
            display: flex;
            flex-direction: row;
            justify-content: left;
            /* align-items: center; */
            gap: 20px;
            min-height: 80vh;
        }
        #dropArea{
            background-image: "/upload/Image (1).png";
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <img src="/uploads/img/Logo.png" alt="logo">
        <nav class="navigation">
            <img src="/uploads/img/profile.jpeg" alt="">
        </nav>
    </header>
    <div style="height: 150px;"></div>
    <div class="flex">
        <div class="sidebar">
            <button id="lakukanDiagnosa">Tambah Gambar</button><br>
            <a href="/">Artikel</a>
        </div>
        <div class="container">
            <form id="uploadForm" action="/image/clasify" method="POST" enctype="multipart/form-data">
                <a id="closeForm" href="#">x</a>
                <label for="fileInput" id="dropArea">
                    <input type="file" name="imageFile" id="fileInput" accept="image/*" style="display: none;">
                    <div id="img-view">
                        <img id="preview" src="/uploads/img/camera_enhance.png" alt="" srcset=""><br>
                        <p>Pilih gambar yang akan di diagnosa</p>
                        <span>Drag & drop or click here to upload</span>
                    </div>
                    <!-- <label for="fileInput" id="label">Pilih gambar yang akan di diagnosa</label><br>
                    <label for="fileInput" id="label1">Drag & drop or click here to upload</label><br> -->
                </label>
                <button type="submit">Tambah Gambar</button>
            </form>
        </div>
        <div id="output"></div>

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const lakukanDiagnosaButton = document.getElementById("lakukanDiagnosa");
            const formContainer = document.querySelector(".container");
            const outputDiv = document.getElementById("output");
            const dropArea = document.getElementById('dropArea');
            const imgView = document.getElementById("img-view");

            lakukanDiagnosaButton.addEventListener("click", function() {
                formContainer.style.display = "flex"; // Tampilkan form saat tombol ditekan
                outputDiv.style.display = "none"; // Sembunyikan div output saat form muncul
            });

            const closeButton = document.getElementById("closeForm");
            closeButton.addEventListener("click", function() {
                formContainer.style.display = "none"; // Sembunyikan form saat tombol "Close" ditekan
                outputDiv.style.display = "flex"; // Tampilkan kembali div output saat form disembunyikan
            });

            const form = document.getElementById("uploadForm");
            const fileInput = document.getElementById("fileInput");
            // const imgView = document.getElementById("")
            // Fungsi untuk menangani pengiriman formulir dan menampilkan output JSON
            // Fungsi async yang akan mengirim formulir dan menampilkan output JSON
            async function submitForm(event) {
                event.preventDefault(); // Mencegah pengiriman formulir secara default

                // Mengirim formulir menggunakan Fetch API
                const formData = new FormData(this);
                const response = await fetch(this.action, {
                    method: this.method,
                    body: formData
                });

                // Mendapatkan hasil respons dalam bentuk JSON
                const result = await response.json();

                // Menampilkan hasil respons di dalam elemen output
                const outputElement = document.getElementById("output");
                outputElement.innerHTML = JSON.stringify(result, null, 2);

                // Setelah pengiriman formulir berhasil, sembunyikan form
                formContainer.style.display = "none";
                outputDiv.style.display = "block"; // Tampilkan kembali div output
            }
            // function previewImage(event) {
            //     var input = event.target;
            //     var preview = document.getElementById('preview');

            //     var reader = new FileReader();
            //     reader.onload = function(){
            //         preview.src = reader.result;
            //         preview.style.display = 'flex';
            //     }
            //     reader.readAsDataURL(input.files[0]);
            //     console.log("test");
            // }

            // Menambahkan event listener ke formulir untuk menangani pengiriman formulir
            dropArea.addEventListener("change",uploadImage);
            function uploadImage() {
                let imgLink = URL.createObjectURL(fileInput.files[0]);
                dropArea.style.backgroundImage = `url("/uploads/${fileInput.files[0].name}")`;
                // console.log(fileInput.files[0].name)
                imgView.style.opacity = 0;
                // document.getElementById('fileInput').style.backgroundImage = `URL(${imgLink})`;
            }
            
            form.addEventListener("submit", submitForm);
            // Mengatur event listener untuk mencegah peristiwa default saat file ditarik dan dilepas
            document.body.addEventListener("dragover", function(event) {
                event.preventDefault();
                form.classList.add("dragover");
            });

            document.body.addEventListener("dragleave", function(event) {
                event.preventDefault();
                form.classList.remove("dragover");
            });

            // Menangani peristiwa drop
            document.body.addEventListener("drop", function(event) {
                event.preventDefault();
                form.classList.remove("dragover");

                // Mengakses file yang dijatuhkan
                const droppedFiles = event.dataTransfer.files;

                // Jika ada file yang dijatuhkan, masukkan ke dalam input file dan kirim formulir
                if (droppedFiles.length > 0) {
                    fileInput.files = droppedFiles;
                    form.addEventListener("submit", submitForm);
                    uploadImage();
                }
            });
        });

    </script>
</body>
</html>
